# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
trial.key
license.key

# Environment
.env
venv/
.venv/

# Build outputs
*.exe
